<header class="bg-amber-800 text-white p-7 flex justify-center items-center w-full sm:flex-row sm:items-center sm:justify-between">
    <div class="flex items-center text-3xl font-black">
        <a class="text-3xl font-bold hover:text-neutral-300" href="/">Super Forum</a>
    </div>
    <nav aria-label="Header Navigation" class="peer-checked:block hidden pl-2 py-6 sm:block sm:py-0">
        <ul class="flex flex-col gap-y-4 sm:flex-row sm:gap-x-14 text-2xl">
            <% if (locals.currentUser) { %>
                <li class="text-neutral-50 hover:text-neutral-300"><a href="/dashboard">Dashboard</a></li>
                <li class="text-neutral-50 hover:text-neutral-300"><a href="/logout">Logout</a></li>
            <% } else { %>
                <li class="text-neutral-50 hover:text-neutral-300"><a href="/login">Login</a></li>
                <li class="text-neutral-50 hover:text-neutral-300"><a href="/signup">Sign Up</a></li>
            <% } %>
        </ul>
    </nav>
</header>