<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>This webpage requires Javascript in order to function properly. Please enable it in your browser settings.</p>
</body>
</html>